.button {
	width: 135px;
	padding: 15px;
	border-radius: 25px;
	font-size: var(--16px);
	font-weight: var(--fw-xl);
	background: var(--clr-yellow-400);
	transition: all 0.3s;
}
.button:hover {
	background-color: hsl(199, 99%, 71%);
	color: var(--clr-white);
}
.button-reverse {
	position: relative;
	font-size: var(--16px);
	font-weight: var(--fw-3xl);
	background: none;
}
.button-reverse::before {
	position: absolute;
	content: '';
	bottom: -2px;
	left: -5px;
	border-radius: 5px;
	width: 110%;
	height: 8px;
	z-index: -9999;
}
.yellow::before {
	background-color: hsla(51, 100%, 49%, 0.315);
}
.pink::before {
	background-color: hsla(7, 99%, 70%, 0.277);
}

.burger-box {
	padding: 0.75rem 0;
	cursor: pointer;

	.burger-btn,
	.burger-btn::before,
	.burger-btn::after {
		background-color: var(--clr-white);
		width: 30px;
		height: 3px;
		transition: all 0.4s;
	}

	.burger-btn {
		position: relative;
	}

	.burger-btn::before {
		position: absolute;
		content: '';
		top: 10px;
	}
	.burger-btn::after {
		position: absolute;
		content: '';
		bottom: 10px;
	}
}

.burger-box.active .burger-btn::after {
	transform: rotateZ(45deg) translate(7px, 7px);
}
.burger-box.active .burger-btn::before {
	transform: rotateZ(135deg) translate(-7px, 7px);
}

.burger-box.active .burger-btn {
	background-color: transparent;
}

.car-btn {
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	padding: 0.5rem 0.8rem;
	font-size: var(--32px);
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--clr-white);
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.car-btn:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
.btn-left {
	left: 0;
}
.btn-right {
	right: 0;
}
.car-btn span {
	display: block;
	transition: transform 0.3s;
}
.car-btn:hover span {
	transform: scale(0.7);
}

@media (min-width: 48rem) {
	.button {
		background: var(--clr-white);
	}
	.burger-box {
		display: none;
	}
}
