.cards-box {
	display: flex;
	flex-direction: column;

	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-block: var(--68px);
		padding-inline: var(--24px);
		background-position: center;

		.card-heading {
			font-size: var(--32px);
			font-weight: var(--fw-3xl);
			font-family: var(--ff-secondary);
			color: var(--clr-gray-800);
		}
		.card-text {
			padding-block: var(--30px);
			font-size: var(--18px);
			color: var(--clr-gray-400);
			line-height: var(--28px);
			font-family: var(--ff-primary);
			font-weight: var(--fw-l);
		}
		.card-heading-sm {
			font-size: var(--28px);
			font-family: var(--ff-secondary);
			font-weight: var(--fw-3xl);
		}
		.card-text-sm {
			margin-top: var(--32px);
			font-family: var(--ff-primary);
			font-weight: var(--fw-l);
			line-height: var(--26px);
		}
	}

	.bgi {
		background-size: cover;
		min-height: 315px;
	}

	.egg {
		background-image: url('/images/mobile/image-transform.jpg');
		order: -1;
	}
	.glass {
		background-image: url('/images/mobile/image-stand-out.jpg');
	}
	.cherry,
	.orange {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-inline: var(--16px);
	}
	.cherry {
		background-image: url('/images/mobile/image-graphic-design.jpg');
		min-height: 600px;
		color: var(--clr-green-800);
	}
	.orange {
		background-image: url('/images/mobile/image-photography.jpg');
		min-height: 600px;
		color: var(--clr-blue-800);
	}
}
.testimonials-box {
	padding-top: var(--56px);
	text-align: center;
	overflow: hidden;

	h2 {
		font-size: var(--16px);
		font-weight: var(--fw-2xl);
		color: var(--clr-gray-300);
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	.clients-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-inline: var(--24px);

		img {
			width: var(--68px);
			margin-top: var(--64px);
			margin-inline: auto;
			border-radius: 50%;
		}
		.quote {
			padding-block: var(--32px);
			font-size: var(--18px);
			font-family: var(--ff-primary);
			font-weight: var(--fw-l);
			color: var(--clr-gray-600);
			line-height: var(--32px);
		}
		.quote-author {
			font-size: var(--18px);
			font-weight: var(--fw-3xl);
		}
		.role {
			margin-top: var(--16px);
			font-family: var(--ff-primary);
			font-weight: var(--fw-l);
			color: var(--clr-gray-300);
		}
	}
}
.images-box {
	padding-top: var(--80px);
	display: flex;
	flex-wrap: wrap;

	picture {
		flex: 0 0 50%;
	}
}
.footer-container {
	padding-top: var(--80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #9adacc;

	.logo-2 {
		scale: 1.35;
	}

	.nav-2,
	.social-media {
		display: flex;
	}
	.nav-2 {
		margin-top: var(--40px);
		margin-bottom: var(--80px);
		gap: var(--56px);

		li {
			font-size: var(--18px);
			font-family: var(--ff-primary);
			font-weight: var(--fw-l);
			color: var(--clr-green-500);
			cursor: pointer;
			transition: color 0.3s;
		}
	}
	.social-media {
		padding-bottom: var(--70px);
		gap: var(--28px);

		.nav-2-item,
		svg {
			transition: all 0.3s;
			fill: #2c7566;
			cursor: pointer;
		}

		svg:hover {
			fill: #ffffff;
		}
	}
	.nav-2-item:hover {
		color: var(--clr-white);
	}
}

@media (min-width: 48rem) {
	.cards-box {
		flex-direction: row;
		flex-wrap: wrap;

		.column-reverse {
			flex-direction: row;
		}
		.card {
			flex: 0 0 50%;
			align-items: flex-start;
			text-align: left;
			height: 575px;
			padding-left: 2rem;
			padding-right: 4rem;

			.card-heading {
				font-size: var(--40px);
			}
			.card-text {
				padding-block: var(--30px);
				font-size: var(--18px);
				line-height: var(--30px);
			}
		}

		.egg {
			background-image: url('/images/desktop/image-transform.jpg');
			order: 0;
		}
		.glass {
			background-image: url('/images/desktop/image-stand-out.jpg');
		}
		.cherry,
		.orange {
			justify-content: flex-start;
			align-items: center;
			text-align: center;
			padding-top: 25rem;
			padding-left: var(--32px);
			padding-right: var(--32px);
		}

		.cherry {
			background-image: url('/images/desktop/image-graphic-design.jpg');
		}
		.orange {
			background-image: url('/images/desktop/image-photography.jpg');
		}
	}
	.testimonials-box {
		padding-top: var(--section-padding);
		max-width: 85%;
		margin: 0 auto;

		h2 {
			font-size: var(--20px);
		}
		.clients-box {
			flex-direction: row;
			align-items: flex-start;
			gap: var(--32px);

			.client {
				max-height: 30rem;
				img {
					margin-top: var(--80px);
				}
				.quote {
					padding-block: var(--60px);
					font-size: var(--18px);
				}

				.quote-author {
					font-size: var(--16px);
				}
				.role {
					font-size: var(--14px);
				}
			}
		}
	}
	.images-box {
		padding-top: var(--section-padding);
		display: flex;
		flex-wrap: nowrap;

		picture {
			flex: 0 0 25%;
		}
	}
}
@media (min-width: 75rem) {
	.cards-box {
		.card {
			padding-left: 7rem;
			padding-right: 5rem;
		}
	}
}
@media (min-width: 87.5rem) {
	.cards-box {
		.card {
			padding-left: 10rem;
			padding-right: 7rem;
		}
	}
}
