*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

:root {
	--clr-yellow-400: hsl(51, 100%, 49%);
	--clr-red-400: hsl(7, 99%, 70%);
	--clr-blue-800: hsl(198, 62%, 26%);
	--clr-green-500: hsl(168, 34%, 41%);
	--clr-green-800: hsl(167, 40%, 24%);
	--clr-gray-800: hsl(212, 27%, 19%);
	--clr-gray-600: hsl(213, 9%, 39%);
	--clr-gray-400: hsl(232, 10%, 55%);
	--clr-gray-300: hsl(210, 4%, 67%);
	--clr-white: hsl(0, 0%, 100%);

	--ff-primary: 'Barlow', sans-serif;
	--ff-secondary: 'Fraunces', serif;

	--fw-s: 400;
	--fw-m: 500;
	--fw-l: 600;
	--fw-xl: 700;
	--fw-2xl: 800;
	--fw-3xl: 900;


	--12px:0.75rem
	--14px: 0.875rem;
	--16px: 1rem;
	--18px: 1.125rem;
	--20px: 1.25rem;
	--22px: 1.375rem;
	--24px: 1.5rem;
	--26px: 1.625rem;
	--28px: 1.75rem;
	--30px: 1.875rem;
	--32px: 2rem;
	--34px: 2.125rem;
	--36px: 2.25rem;
	--38px: 2.375rem;
	--40px: 2.5rem;
	--42px: 2.625rem;
	--44px: 2.75rem;
	--46px: 2.875rem;
	--48px: 3rem;
	--50px: 3.125rem;
	--52px: 3.25rem;
	--54px: 3.375rem;
	--56px: 3.5rem;
	--58px: 3.625rem;
	--60px: 3.75rem;
	--62px: 3.875rem;
	--64px: 4rem;
	--66px: 4.125rem;
	--68px: 4.25rem;
	--70px: 4.375rem;
	--72px: 4.5rem;
	--80px: 5rem;
	--96px: 6rem;
	--112px: 7rem;
	--128px: 8rem;
	--section-padding: 10rem;
}

img,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Barlow', sans-serif;
	font-family: 'Fraunces', serif;
	overflow-x: hidden;
	
}
button {
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	font-family: var(--ff-secondary);
	
}
